/* App.css */
.block-button {
  display: block;
  width: 100%;
  margin-top: 0.5em;
}
.suggested-workout {
  margin-bottom: 16px; /* Or any other value you see fit */
}


/* You can add more styles here */
