.slider-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} //Styles for centering and aligning content

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
} //removing default appearance, customizing slider appearance

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
} //remove default, set custom handle appearance

.slider::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #904caf 0%,
    #4c84af 25%,
    #c34a6c 25%,
    #c34a4a 50%,
    #cddc39 50%,
    #cddc39 75%,
    #ffeb3b 75%,
    #ffeb3b 100%
  );
} 

.slider::-moz-range-track {
  background: linear-gradient(
    to right,
    #4caf50 0%,
    #4caf50 25%,
    #8bc34a 25%,
    #8bc34a 50%,
    #cddc39 50%,
    #cddc39 75%,
    #ffeb3b 75%,
    #ffeb3b 100%
  );
} //assigning colors to slider
